<!--@subject {{var store.getFrontendName()}}: Nowa subskrypcja @-->
<!--@styles
body,td { color:#2f2f2f; font:1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<!--@subject Email - Header @-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
</head>
<body>

{{inlinecss file="email-inline.css"}}
<!-- Begin wrapper table -->
<table width="100%" cellpadding="0" cellspacing="0" border="0" id="background-table">
    <tr>
        <td valign="top" class="container-td" align="center">
            <table cellpadding="0" cellspacing="0" border="0" align="center" class="container-table">
                <tr>
                    <td>
                        <table cellpadding="0" cellspacing="0" border="0" class="logo-container">
                            <tr>
                                <td class="logo">
                                    <a href="{{store url=""}}">
                                    <img src="{{var logo_url}}" alt="{{var logo_alt}}" border="0"/>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td valign="top" class="top-content">
                        <!-- Begin Content -->
                        <div style="padding: 30px;line-height: 1.5em;">
                            W sklepie {{var store.getFrontendName()}} dokonano potwierdzenia nowej subskrypcji newslettera dla adresu: {{var subscriber.getSubscriberEmail()}}.
                        </div>
                        <!-- End Content -->
                    </td>
                </tr>
            </table>
            <h5 class="closing-text">Pozdrawiamy, {{var store.getFrontendName()}}!</h5>
        </td>
    </tr>
</table>
<!-- End wrapper table -->
</body>

